<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/Poyectos/Proyecto Nº 3/src/public/css/style.css">
    <!--FONTS-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="content">

        <h1 class="logo">Contact <span>Us</span></h1>

        <div class="contact-wrapper">
            <div class="contact-form">
                <h3>Contact us</h3>
                <form action="">
                    <p>
                        <label for="Fullname">Fullname</label>
                        <input type="text" name="text" id="text">
                    </p>
                    <p>
                        <label for="Email">Email Address</label>
                        <input type="email" name="email" id="">
                    </p>
                    <p>
                        <label for="label">Phone</label>
                        <input type="tel" name="phone" id="">
                    </p>
                    <p>
                        <label for="Affair">Affair</label>
                        <input type="text" name="affair">
                    </p>
                    <p class="block">
                        <label for="Message">Message</label>
                        <textarea name="message" id="" cols="30" rows="10" placeholder="write your message here"></textarea>
                    </p>
                    <p class="block">
                        <button type="submit">Send</button>
                    </p>
                </form>
            </div>
            <div class="contact-info">
                <h4>More info</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt">Baker Street</i></li>
                    <li><i class="fas fa-phone">+58 424 818 97 23</i></li>
                    <li><i class="fas fa-envelope-open-text">Contact@website.com</i></li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel pariatur illo illum error.</p> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel pariatur illo illum error.</p> 
                <p>Intership.com</p>
            </div>
        </div>

    </div>
</body>
</html>